/* PROJECT - 01 | Responsive */

/* Created by : M. Revanza Yuzar (Revan) */

@media (max-width: 1080px) {

    body {
        background-size: 50%;
    }

    .content .mid-account form {
        width: 95%;
    }

}



@media (max-width: 900px) {

    header h1 {
        font-size: 20px;
    }

    .hero {
        justify-content: space-around;
    }

    .hero p {
        font-size: 16px;
    }

    .hero p#title {
        font-size: 30px;
    }

    .time {
        font-size: 15px;
    }

    .content .mid-slot,
    .content .mid-account {
        padding: 50px 2%;
    }

    .content h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 18px;
    }

    .content a {
        font-size: 13px;
    }

    .content .mid-content p {
        font-size: 15px;
    }

    .content .mid-account form {
        width: 100%;
    }

    footer .right {
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }

}



@media (max-width: 768px) {

    body {
        background-size: 75%;
    }

    .content {
        justify-content: center;
    }

    .content .left,
    .content .mid,
    .content .right {
        width: 90%;
    }

    .content h2 {
        width: 50%;
    }

    .content a {
        width: 70%;
        font-size: 15px;
    }

    .content .mid-slot,
    .content .mid-account {
        padding: 50px 5%;
    }

}



@media (max-width: 720px) {

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero img {
        margin-bottom: 25px;
    }

}



@media (max-width: 550px) {

    .content .left,
    .content .mid,
    .content .right {
        width: 95%;
    }

}



@media (max-width: 500px) {

    body {
        background-size: 90%;
    }

    .hero p#title {
        font-size: 28px;
    }

    .content .left,
    .content .mid,
    .content .right {
        width: 100%;
    }

}



@media (max-width: 450px) {

    .content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .content .mid-content a {
        width: 75%;
        margin-left: 25%;
    }

    .content .mid-slot,
    .content .mid-account {
        padding: 50px 2%;
    }

    footer {
        justify-content: flex-start;
    }

    footer .left {
        width: 100%;
        margin-top: 25px;
    }

    footer p {
        font-size: 14px;
        letter-spacing: 0;
    }

}



@media (max-width: 425px) {

    .content h2 {
        width: 55%;
    }

    .content a {
        width: 75%;
    }

    .content .mid-account select {
        width: 45%;
    }

    .content .mid-account select.tahun {
        margin-top: 15px;
    }

    .content .mid-account .select {
        justify-content: space-around;
    }

}



@media (max-width: 375px) {

    header img {
        margin-left: 0;
    }

    header h1 {
        font-size: 18px;
    }

    .hero img {
        width: 275px;
    }

    .hero p {
        font-size: 15px;
    }

    .hero p#title {
        font-size: 22px;
    }

    .content h2 {
        width: 62%;
    }

    .content h3 {
        font-size: 16px;
    }

    .content h3.judul {
        padding-right: 10px;
    }

    .content h4 {
        font-size: 15px;
    }

    .content a {
        width: 82%;
    }

}



@media (max-width: 350px) {

    footer img {
        width: 88px;
    }

    footer p {
        font-size: 12px;
    }

    footer p#title {
        font-size: 18px;
    }

    footer p#desainer {
        font-size: 16px;
    }

}