/* PROJECT - 01 | Style */

/* Created by : M. Revanza Yuzar (Revan) */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --primary: rgb(0, 0, 125);
   --primary-light: rgb(0, 0, 200);
   --primary-dark: rgb(0, 0, 50);

   --secondary: rgb(200, 175, 0);
   --secondary-light: rgb(225, 200, 0);
   --secondary-dark: rgb(175, 150, 0);

   --body-color: rgb(222, 222, 222);
   --header-color: rgba(0, 0, 0, 0.5);
   --footer-color: var(--primary-dark);

   --text-primary: black;
   --text-secondary: white;
   --text-important: red;

   --color-before: white;
   --color-hover: var(--secondary-light);
   --color-focus: red;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
	border: none;
	outline: none;
}

body {
   background-image: url(../img/background.jpg);
   background-size: 40%;
   background-color: var(--body-color);
   font-family: 'Poppins', sans-serif;
}

header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
   background-color: var(--header-color);
   padding: 5px;
}

header img {
   display: block;
   width: 50px;
   margin: 0 10px;
}

header h1 {
   color: var(--secondary-light);
   font-size: 25px;
   font-weight: 500;
   letter-spacing: 1px;
}

.hero {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-color: var(--primary-light);
}

.hero p {
   color: white;
   font-size: 20px;
   font-weight: 400;
}

.hero .ketik {
   width: max-content;
}

@keyframes ketik {
   0% {
      width: 0;
      visibility: hidden;
   }

   75% {
      width: 100%;
   }

   100% {
      width: 0;
   }
}

.hero p#welcome {
   font-family: 'Kalam', cursive;
   overflow: hidden;
   white-space: nowrap;
   padding-right: 15px;
   border-right: 2px solid var(--secondary-light);
   animation: ketik 3s steps(18) infinite;
}

.hero .animasi {
   overflow: hidden;
}

@keyframes diagonal {
   0% {
      opacity: 0.7;
      transform: translateX(100%) translateY(-100%);
   }

   25% {
      opacity: 1;
      transform: translateX(0) translateY(0);
   }

   75% {
      opacity: 1;
      transform: translateX(0) translateY(0);
   }

   100% {
      opacity: 0.7;
      transform: translateX(-100%) translateY(100%);
   }
}

.hero p#title {
   color: var(--secondary-light);
   font-size: 40px;
   font-weight: 700;
   animation: diagonal 12s infinite;
   animation-timing-function: ease-in-out;
}

@keyframes kedip {
   40% {
      color: transparent;
   }

   100% {
      color: white;
   }
}

.hero p#unigha {
   text-align: center;
   letter-spacing: 1px;
   animation: kedip 1s infinite;
}

.hero .text {
   display: flex;
   flex-direction: column;
}

@keyframes melayang {
   0% {
      transform: scale(0.93);
   }

   50% {
      transform: scale(1);
   }

   100% {
      transform: scale(0.93);
   }
}

.hero img {
   width: 300px;
   filter: drop-shadow(0 0 50px white);
   animation: melayang 6s infinite;
   animation-timing-function: ease-in-out;
}

.plus {
   height: 25vh;
   background-color: var(--primary-light);
}

.time {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   color: var(--secondary);
   background-color: var(--primary);
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 1px;
   padding: 10px;
}

.tanggal,
.jam {
   width: max-content;
}

.content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 10px;
   padding-top: 75px;
}

@keyframes container {
   0% {
      box-shadow: 0 0 15px black;
   }

   50% {
      box-shadow: none;
   }

   100% {
      box-shadow: 0 0 15px black;
   }
}

.content .left,
.content .right,
.content .mid-slot,
.content .mid-account {
   width: 20%;
   background-color: var(--primary-dark);
   margin-bottom: 75px;
   padding: 50px 1%;
   border: 2px solid yellow;
   border-radius: 10px;
   animation: container 5s infinite;
   animation-timing-function: ease-in-out;
}

.content .mid {
   width: 58%;
}

.content .mid-slot,
.content .mid-account {
   width: 100%;
   background-color: var(--secondary);
   padding: 50px 5%;
}

@keyframes kedip-h2 {
   40% {
      color: transparent;
   }

   100% {
      color: var(--secondary-light);
   }
}

.content h2 {
   color: var(--secondary-light);
   font-size: 25px;
   font-weight: 500;
   text-align: center;
   margin: auto;
   margin-bottom: 50px;
   padding-bottom: 10px;
   border-bottom: 7px solid var(--secondary-light);
   animation: kedip-h2 1s infinite;
}

.content .mid h2 {
   width: 85%;
   background-color: var(--primary-dark);
   margin: auto;
   margin-bottom: 50px;
   padding: 5px;
   border: 2px solid var(--secondary-light);
   border-radius: 100px;
   animation: kedip-h2 1s infinite, container 5s ease-in-out infinite;
}

.content h3 {
   color: var(--text-primary);
   font-size: 20px;
   font-weight: 500;
   text-align: center;
}

.content .ketik {
   width: max-content;
   margin: auto;
}

.content h3.judul {
   overflow: hidden;
   white-space: nowrap;
   padding-right: 15px;
   border-right: 2px solid var(--text-primary);
   animation: ketik 3s steps(25) infinite;
}

@keyframes kedip-daftar {
   50% {
      color: transparent;
   }

   100% {
      color: var(--text-important);
   }
}

.content h3#daftar {
   color: var(--text-important);
   animation: kedip-daftar 0.7s infinite;
}

.content h4 {
   color: var(--text-primary);
   font-size: 16px;
   font-weight: 500;
   margin-top: 25px;
   margin-bottom: 5px;
}

.content h4 span {
   color: var(--text-important);
}

.content ul {
   list-style: none;
}

.content a {
   display: block;
   width: 100%;
   color: var(--color-before);
   background-color: var(--primary-dark);
   font-size: 15px;
   font-weight: 400;
   text-align: center;
   margin: auto;
   margin-bottom: 25px;
   padding: 5px 0;
   border: 1.5px solid var(--color-before);
   border-radius: 25px;
}

.content a:hover {
   color: var(--color-hover);
   background-color: var(--primary);
   border-color: var(--color-hover);
   text-shadow: 0 0 20px var(--color-hover), 0 0 10px var(--color-hover);
   box-shadow: 0 0 25px var(--color-hover);
   transition-property: all;
   transition-duration: 0.25s;
}

.content .mid-content img {
   width: 100%;
   margin: 25px 0;
   border: 5px solid black;
   border-radius: 10px;
}

.content .mid-content p {
   color: var(--text-primary);
   font-size: 16px;
   font-weight: 400;
   text-align: justify;
   text-indent: 0.7cm;
   line-height: 1.5;
   margin-bottom: 15px;
}

.content .mid-content a {
   width: 50%;
   transform: scale(0.98);
   margin-top: 50px;
   margin-left: 45%;
}

.content .mid-content a:hover {
   transform: scale(1);
   text-shadow: 0 0 20px var(--primary-light), 0 0 10px var(--primary-light);
   box-shadow: 0 0 25px var(--primary-light);
   transition-duration: 0.1s;
}

.content .mid-account form {
   width: 85%;
   margin: auto;
   margin-top: 50px;
}

.content .mid-account input,
.content .mid-account select,
.content .mid-account button {
   width: 100%;
   color: var(--color-before);
   background-color: var(--primary-dark);
   font-size: 15px;
   font-weight: normal;
   letter-spacing: 0.5px;
   padding: 7px;
   border: 2px solid var(--color-before);
   border-radius: 5px;
}

.content .mid-account input:focus,
.content .mid-account select:focus {
   border-color: var(--color-focus);
}

.content .mid-account select {
   width: 32%;
}

.content .mid-account .select {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.content .mid-account input[type="radio"] {
   appearance: none;
   width: 25px;
   height: 25px;
   margin-right: 10px;
   border: 7px solid transparent;
   border-radius: 50%;
}

.content .mid-account input[type="radio"]:checked {
   background-color: var(--color-before);
   border-color: var(--primary-dark);
}

.content .mid-account label {
   font-size: 15px;
   font-weight: 500;
   letter-spacing: 0.5px;
}

.content .mid-account label#pria {
   color: rgb(25, 25, 255);
}

.content .mid-account label#wanita {
   color: rgb(255, 25, 65);
}

.content .mid-account .radio {
   display: flex;
   justify-content: space-evenly;
}

.content .mid-account .item {
   display: flex;
   align-items: center;
}

.content .mid-account button {
   width: 40%;
   padding: 10px;
   border-radius: 25px;
}

.content .mid-account button#submit {
   background-color: rgb(0, 0, 255);
}

.content .mid-account button#submit:hover {
   background-color: rgb(0, 0, 175);
   box-shadow: 0 0 25px blue;
   transition: 0.15s;
}

.content .mid-account button#reset {
   background-color: rgb(255, 0, 0);
}

.content .mid-account button#reset:hover {
   background-color: rgb(175, 0, 0);
   box-shadow: 0 0 25px red;
   transition: 0.15s;
}

.content .mid-account .button {
   display: flex;
   justify-content: space-evenly;
   margin-top: 50px;
}

footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--footer-color);
   padding: 25px 10px;
   border-top: 2px solid var(--secondary);
}

footer img {
   display: block;
   width: 100px;
   filter: drop-shadow(0 0 5px white);
}

footer .left,
footer .right {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: max-content;
}

footer .right {
   align-items: flex-end;
}

footer p {
   color: var(--secondary);
   font-size: 16px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 10px;
}

footer p#title {
   font-size: 20px;
   font-weight: 500;
   text-transform: uppercase;
}

footer p#desainer {
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
   letter-spacing: 0;
}